.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

*.java
*.drjava
*.class
*.jar
*.war
*.ear
*.c
*.cpp
*.h
*.hpp
*.tar.gz
*.tgz
*.tar.xz
*.txz
*.zip
*.rar
*.tar
*.py
*.hs
*.html
*.htm
*.php
*.js
*.clj
*.scm
*.ss
*.svg
*.ppt
*.doc
*.xls
*.pptx
*.docx
*.xlsx
*.pages
*.numbers
*.key
*DGD.tex
*.hs
*.erl
*.rb
*.pl
*.nb